:root {
  --slidev-code-padding: 1rem;
  --slidev-code-font-size: 1rem;
}

.slidev-layout {
  p {
    margin: 0 !important;
  }

  &.default {
    h1 + p {
      margin-block: -0.5em 0.5em !important;
    }
  }
}

.stack {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  img {
    max-height: 100%;
    max-width: 100%;
  }

  img:not(:first-child) {
    position: absolute;
    object-fit: contain;
  }
}

h1 {
  font-weight: bold;
}
