<nav class="panel">
  <ul>
    <li><a href="/talk-webgpu/three/instanced">three - instanced</a></li>
    <li><a href="/talk-webgpu/three/instanced-webgpu">three - instanced WebGPU</a></li>
    <li><a href="/talk-webgpu/three/fishes">three - fishes</a></li>
    <li><a href="/talk-webgpu/three/fishes-webgpu">three - fishes WebGPU</a></li>
    <li><a href="/talk-webgpu/webgl/boids">webgl - boids</a></li>
    <li><a href="/talk-webgpu/webgl/objects">webgl - objects</a></li>
    <li><a href="/talk-webgpu/webgpu/boids">webgpu - boids</a></li>
    <li><a href="/talk-webgpu/webgpu/objects">webgpu - objects</a></li>
  </ul>
</nav>
