<nav class="panel">
  <ul>
    <li><a href="/three/instanced">three - instanced</a></li>
    <li><a href="/three/instanced-webgpu">three - instanced WebGPU</a></li>
    <li><a href="/three/fishes">three - fishes</a></li>
    <li><a href="/three/fishes-webgpu">three - fishes WebGPU</a></li>
    <li><a href="/webgl/boids">webgl - boids</a></li>
    <li><a href="/webgl/objects">webgl - objects</a></li>
    <li><a href="/webgpu/boids">webgpu - boids</a></li>
    <li><a href="/webgpu/objects">webgpu - objects</a></li>
  </ul>
</nav>
